<configuration>
    <!--<property name="APP_PREFIX" value="[USER-SERVICE]" /> -->
    <springProperty name="APP_NAME" source="spring.application.name" defaultValue="unknown-service"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%level] [${APP_NAME}] [%logger{36}] - %msg%n</pattern>
            <!--<pattern>%d{HH:mm:ss} [%level] [%X{traceId}] [${APP_NAME}] [%logger{36}] - %msg%n</pattern> -->

        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
